.container {
  max-width: 1200px;
  margin: 0 auto;
}
.block {
  max-width: 100vw;
  height: 100vh;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-6 {
  flex: 50% 0;
}
.leafe,
.leafe-revert {
  position: fixed;
  z-index: 100;
  filter: blur(3px);
}
.leafe {
  top: -47px;
  right: -96px;
}

.leafe-revert {
  transform: rotate(180deg);
  bottom: -67px;
  left: -96px;
  filter: blur(5px);

}
